/* use compass sass(scss) */
/* line 3, ../sass/capture.scss */
body {
  padding-top: 50px;
}

/* line 6, ../sass/capture.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 11, ../sass/capture.scss */
.imageWrap {
  display: inline-block;
}

/* line 15, ../sass/capture.scss */
.imageWrapPc, .imageWrapTablet, .imageWrapMobile {
  float: left;
  margin: 8px;
  background-repeat: no-repeat;
  background-position: 0 20px;
}
/* line 20, ../sass/capture.scss */
.imageWrapPc p, .imageWrapTablet p, .imageWrapMobile p {
  margin-left: 8px;
}

/* line 25, ../sass/capture.scss */
.imageWrapPc {
  background-image: url(../img/SitePageCapturePc.png);
  width: 520px;
  height: 461px;
}

/* line 30, ../sass/capture.scss */
.imageWrapTablet {
  background-image: url(../img/SitePageCaptureIpad.png);
  width: 238px;
  height: 461px;
}

/* line 35, ../sass/capture.scss */
.imageWrapMobile {
  background-image: url(../img/SitePageCaptureIphone.png);
  width: 142px;
  height: 461px;
}

/* line 41, ../sass/capture.scss */
.imagePc, .imageTablet, .imageMobile {
  position: relative;
  overflow: hidden;
}
/* line 44, ../sass/capture.scss */
.imagePc a, .imageTablet a, .imageMobile a {
  display: block;
  background: white;
}

/* line 50, ../sass/capture.scss */
.imagePc {
  top: 8px;
  left: 20px;
  width: 479px;
  height: 270px;
}
/* line 55, ../sass/capture.scss */
.imagePc .window {
  width: 479px;
}

/* line 59, ../sass/capture.scss */
.imageTablet {
  top: 25px;
  left: 13px;
  width: 212px;
  height: 281px;
}
/* line 64, ../sass/capture.scss */
.imageTablet .window {
  width: 212px;
}

/* line 68, ../sass/capture.scss */
.imageMobile {
  top: 34px;
  left: 12px;
  width: 119px;
  height: 213px;
}
/* line 73, ../sass/capture.scss */
.imageMobile .window {
  width: 119px;
}

/* line 78, ../sass/capture.scss */
.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #56595B;
  opacity: 0.5;
}
/* line 86, ../sass/capture.scss */
.loading img {
  position: absolute;
  margin-left: -50px;
  margin-top: -50px;
  left: 50%;
  top: 50%;
}

/* line 95, ../sass/capture.scss */
.author {
  text-align: right;
  font-syle: italic;
}

/* line 100, ../sass/capture.scss */
.starter-template.sub {
  padding-bottom: 0;
}

/* line 104, ../sass/capture.scss */
.center {
  text-align: center;
}

/* line 108, ../sass/capture.scss */
.feed {
  padding: 0 40px;
  margin: 0;
}
/* line 111, ../sass/capture.scss */
.feed:before {
  content: '-> ';
}

/* line 116, ../sass/capture.scss */
.lead {
  margin-bottom: 2px;
}

/* line 120, ../sass/capture.scss */
a.toolhint span.toolhint {
  display: none;
  width: 200px;
  padding: 5px;
  margin: 10px 0 0 -10px;
}

/* line 126, ../sass/capture.scss */
a.toolhint:hover span.toolhint {
  display: inline;
  position: absolute;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #F7F7F7;
  color: #666;
  font-size: 12px;
  line-height: 1.6em;
}
